* { 
    box-sizing: border-box; 
 } 
body{
 background-color: #172637;
 min-height: 100%; 
 font-family: "Darker Grotesque", sans-serif;
 font-weight: bold;
 font-size: large;
}
a{
color: white;
text-decoration: none;
}
.divlogo{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.logoprincipal{
    width: 200px;
    height: 100px;
}
.navegador{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}
nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    flex-direction: row;
}
.separacion-cajas-arriba {
    padding: 15px;
}
.subtitulo{
    color: white;
    margin-top: 60px;
    text-decoration: none;
    margin-left: 10px;
}
.carro{
    height: 25px;
    width: 35px;
}
.linkButtonCarro{
    display: flex;
    justify-content: center;
    padding: 3px;
    gap: 3px;
    color: white;
    border: solid 1px white;
    text-align: center;
}
.linkCarroProducto{
    display: inline-block;
    width: auto;
    justify-content: flex-start;
    padding: 5px;
    gap: 3px;
    color: white;
    border: solid 1px white;
    text-align: center;
}
.link-ver-mas{
    margin-top: 5px;
    color: white;
    border: solid 1px white;
    text-align: center;
}
.articleHome{
    background-color: rgba(245, 245, 220, 0.226);
    padding: 20px;
    border: solid 2px lightblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    width: 270px;
}
.sectionropahombres{
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.sectionaccesorios{
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.sectionelectronica{
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.imagenes{
    height: 227px;
    width: 227px;
}
.footer-logo{
    height: 50px;
    width: 100px;
}
.participantes{
    color: white;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.artilceProductoP{
    color: white;
    margin-left: 40px;
}
.linkcarrito{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 3px;
    gap: 3px;
}
.imagendetalle{
    height: 400px;
    width: 350px;
}

.login {
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 245, 220, 0.226);
    padding: 20px;
    border: solid 2px lightblue;
    width: 100%;
}
.sectionLogin{
    max-width: 350px;
}
.subtituloLogin{
    color: white;
    text-decoration: none;
}
.main-login{
    display: flex;
    justify-content: center;
}
.inputContra{
    margin-right: 86px;
    background-color: transparent;
    border: none;
    color: black;
    }
    
.inputEmail{
    margin-right: 86px;
        background-color: transparent;
        border: none;
        color: black;
        margin-top: 2px;
    }
.linea{
    background-color: white;
    width: 100%;
}
::placeholder{
    color: black;
}
.buttonIngresar{
    margin-top: 10px;
    border: solid 1px white;
    text-align: center;
}
.colorLabel{
    color: white;
}
.termsLabel{
    color: white;
    margin-top: 10px;
}
.subtituloRegister{
    color: white;
    text-decoration: none;
}
.register {
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 245, 220, 0.226);
    padding: 20px;
    border: solid 2px lightblue;
    width: 100%;
}
.sectionRegister{
 max-width: 350px;
}
.buttonRegistrame{
    margin-top: 10px;
    border: solid 1px white;
    text-align: center;
}
.main-register{
    display: flex;
    justify-content: center;
}
.subtituloRecuperar{
    color: white;
    text-decoration: none;
}
.recuperar{
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 245, 220, 0.226);
    padding: 20px;
    border: solid 2px lightblue;
    width: 100%;
}
.sectionRecover{
    max-width: 350px;
}
.mainRecover{
    display: flex;
    justify-content: center;
}
.buttonRecuperar{
    margin-top: 10px;
    border: solid 1px white;
    text-align: center;
}
.Recuperalabel{
    color: white;
    margin-top: 10px;
}
.sectionCarrito{
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.comprarCarrito{
    margin-top: 10px;
    border: solid 1px white;
    text-align: center;
}
.articleCart{
    background-color: rgba(245, 245, 220, 0.226);
    padding: 20px;
    border: solid 2px lightblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    height: 533px;
    width: 270px;   
}
@media (max-width: 420px){
}